/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.zmiti-user-main-ui {
  margin: 0px auto;
  width: 80%;
  left: 10%;
}

.zmiti-user-main-ui .zmiti-menu-name {
  color: #888;
}

.zmiti-user-main-ui .zmiti-exit-btn {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: -webkit-linear-gradient(top, #ff8c50, #ff443d);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -75px;
  cursor: pointer;
}
