@import "../css/base.scss";
 $baseColor:#3390ff;

 .zmiti-qrcode-page{
	 @include pos(a);
	 width: 100%;
	 height: 100%;
	 background:rgba(0,0,0,.8);
	  background: #108ee9;
	 left: 0;
	 top: 0;
	 z-index: 121;
	 @include displayFlex(row);
	 align-items: center;
	 justify-content: center;

	 &>section{
		 width: 80%;
		 height: 70vh;
		 h2{
			 text-align: center;
			 color:#fff;
		 }
		 .zmiti-qrcode-C{
			 width: 100%;
			 height: 40vh;
			 background: #fff;
			 @include br(4px);

			 .zmiti-scan-tip{
				 width: 100%;
				 text-align: center;
				 color:#000;
				 height: 80px;
				 line-height: 80px;
			 }
			 .zmiti-warning-tip{
				width: 100%;
				color:#f89058;
				background: #fefcec;
				text-indent: 1em;
				margin:0 0 30px 0;
				height: 30px;
				line-height: 30px;
				@include pos(r);
				span{
					@include pos(a);
					right: 10px;
					cursor: pointer;
					font-size:20px;
				}
			 }
			 .zmiti-qrcode-role{
				width: 170px;
				height: 170px;
				padding: 2px;
				border:1px solid #ddd;
				margin: 0 auto;
			 }
			 .zmiti-logo{
				 @include pos(a);
				 $size:40px;
				 width:$size;
				 height: $size;
				 left: 50%;;
				 margin-left: -$size/2;
				 margin-top: - (85+$size/2);
				 background: #fff;
				 img{
					 width: 100%;
				 }
			 }
			 .zmiti-sms-tip{
				 color:#108ee9;
				 text-align: center;
				 margin: 20px 0;
			 }
		 }
	 }
	
 }
  .zmiti-login-C{
		width: 80%;
		margin: 80px auto;
		text-align: center;
		color:$baseColor;
		.zmiti-icon{
			width: 100px;
			height: 100px;
			@include br();
			background:rgba(51,144,255,.1);
			margin: 20px auto 40px;
			
			
			img{
				@include transform(scale(.7));
			}
		}

		
		
		
		.zmiti-login-form{
			width: 100%;
			background:#fff;
			padding-bottom: 20px;
			h3{
				
				
				text-align: center;
				height: 44px;
				line-height: 44px;
				font-size:14px;
				@include displayFlex(row);
				justify-content: center;
				cursor: pointer;
				&>div{
					flex:1;
					background: #e5f0fd;
					z-index: 120;
					color:#000;
					
					&.active{
						color:$baseColor;
						@include pos(r);
						background: #fff;
						border-top: 4px solid $baseColor;
						&:before{
							display: none;
							content:'';
							width: 100%;
							height: 0;
							border-top: 4px solid $baseColor;
							@include pos(a);
							top: 0;
							left: 0;
						}
					}
				}
				
			}
			.zmiti-login-qrcode{
				
				@include displayFlex(column);

				align-items: center;

				&>section{
					width: 80%;
					color:#f00;
					line-height: 30px;
					font-weight: bold;
				}
				div{
					
					width: 170px;
					height: 170px;
					padding: 4px;
					margin: 0 auto;
					border:1px solid #ddd;
				}
			}
			.zmiti-login-input{
				margin: 0 auto 10px;

				width: 90%;
				input{
					height: 36px;
					line-height: 36px;
					border:1px solid #eee;
					width: 80%;
					padding-left: 10px;
					&::-webkit-input-placeholder{
						color:#eee;
					}
					outline: none;
					&:-webkit-autofill { 
						box-shadow: 0 0 0px 1000px white inset !important;
					}
					
				}
			}

			.zmiti-login-error{
				color:#f00;
				text-align: left;
				width: 300px;
				margin: 0 auto;
				height:16px;
			}
			.zmiti-login-btn{
				width:120px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				color:#fff;
				background: $baseColor;
				@include br(4px);
				margin: 40px auto 0;
				cursor: pointer;
				user-select: none;
				-webkit-user-select: none;
				@include pos(r);

				&.active{
					
					&:after{
						content:'';
						width: 14px;
						height: 14px;
						@include br();
						border:1px solid #fff;
						@include pos(a);
						border-left: none;
						top: 9px;
						margin-left: 4px;
						@include animation(rotate 1s linear infinite)
					}

				}
			}

			@-webkit-keyframes rotate{
				to{
					@include transform(rotate(360deg));
				}
			}
		}

	}
