@import "../css/base.scss";

$baseColor:#3390ff;

.zmiti-setting-main-ui{

	margin: 0px auto;
	width: 80%;
	left :10%;
	.zmiti-title{
		height: 100px;
		line-height: 8;
	}
	.zmiti-back{
		height: 60px;
		@include pos(a);
		width: 60px;
		a{
			width: 100%;
			height: 100%;
			z-index: 10;;
			@include pos(a);
		}
	}
	.zmiti-cms-item{
		width: 80%;
		margin: 30px auto;
		height: 60px;
		line-height: 60px;
		background: #fff;
		text-indent: 2em;
		
		@include pos(r);
		&:before{
			content:'';
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			background: $baseColor;
			@include pos(a);
		}

		ul{
			width:100%;
			background: #e6edf7;
			height: 0;
			overflow: hidden;
			@include transition(.3s);
			z-index:10;
			&.active{
				height: auto;
			}
			@include pos(a);
			li{
				
				cursor: pointer;
				@include pos(r);
				&:nth-of-type(1){
					border-top: 1px solid #d9e2ee;
					&:before{
						content:'';
						width: 30px;
						height:30px;
						left: 0;
						top: 0;
						z-index: -1;
						@include pos(a);

						background: #e6edf7;
						@include transform(rotate(45deg));
						@include br(5px);
						left: 80%;;
						top: -10px;

					}
				}
				border: 1px solid #d9e2ee;
				border-top: none;
				&:hover{
					background: #ddd;
				}
				&:nth-of-type(1):hover{
					&:before{
						background: #ddd;
					}
				}
				
			}
			
			

		}
	}

	.zmiti-cms-name{
		color:#ccc;
		cursor: pointer;
		&.active{
			color:#333;
		}

		&.slider{
			label.label{
				@include transform(rotate(90deg));
			}
			
		}
		label{
			@include pos(a);
			width: 4px;
			height: 100%;
			left: 0;
			top: 0;
			@include transition(.1s);
			background:$baseColor;

			&:nth-of-type(2){
				width: 36px;
				height: 36px;
				@include br();
				right: 30px;
				top: 15px;
				background:rgba(51,144,255,.1);
				left:auto;

				&::before{
					content:"";
					@include pos(a);
					@include transition(.2s);
					width: 24%;
					height: 24%;
					border:2px solid $baseColor;
					@include transform(rotate(45deg));
					border-left: none;
					border-bottom: none;
					top: 37%;
					left: 30%;
				}
			}
		}
	}

}

