/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.ivu-radio-inner:after {
  border-radius: 4px !important;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

header.zmiti-add-header {
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #515a6e;
  background: #f8f8f9;
  padding: 10px;
  position: relative;
}

header.zmiti-add-header.zmiti-safe-bar {
  text-indent: .5em;
}

header.zmiti-add-header.zmiti-safe-bar:after {
  content: '';
  width: 4px;
  height: 24px;
  top: 40%;
  background: #be0000;
  position: absolute;
  left: 10px;
}

header.zmiti-add-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -15px;
  background: #ccc;
}

header.zmiti-add-header span {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  left: .5em;
}

header.zmiti-add-header img {
  width: 40px;
  cursor: pointer;
  vertical-align: top;
}

.zmiti-tab-header {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
  position: relative;
}

.zmiti-tab-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ccc;
  left: 0;
  bottom: 0;
}

.zmiti-tab-header > div:nth-of-type(1) {
  position: relative;
  text-indent: .5em;
}

.zmiti-tab-header > div:nth-of-type(1):before {
  content: '';
  width: 4px;
  height: 24px;
  background: #b20000;
  left: -4px;
  position: absolute;
  top: 12px;
}

.ivu-icon-ios-help-circle {
  left: 24px;
}
