@import "../css/base.scss";

$baseColor:#3390ff;

.zmiti-nav-main-ui{
	margin: 0px auto;
	width: 80%;
	left :10%;
	.zmiti-title{
		height: 100px;
		line-height: 8;
	}
	.zmiti-function-list{
		width: 90%;
		margin: 0 auto;
		ul{
			@include displayFlex(row);
			flex-wrap: wrap;
			justify-content:space-between;
			@include  pos(r);
			&:before{
				content:"";
				@include pos(a);
				width: 100%;
				height: 4px;
				background: $baseColor;
				left: 0;
				top:0;
			}
		}
		li{
			width: 32%;
			height: 140px;
			background: #fff;
			margin: 3px 0;
			@include displayFlex(row);
			cursor: pointer;

			a{
				display:block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				&:hover div{
					background: #eee;
				}
				&>div{
					width: 100%;
					text-align: center;
					line-height: 140px;
					font-size:40px;
					color:$baseColor;
	
					
				}
			}

			.zmiti-function-name{
				position: relative;
				width: 100%;
				display: inline-block;
				text-align: center;
				top: -44px;
				color:#333;
			}

			
			
		}
	}
}

