@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

@mixin displayflex($k:row) {
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	flex-direction: $k;
	-webkit-flex-direction: $k;
	-moz-flex-direction: $k;
}
@mixin flex($k:1) {
	flex:$k;
	-webkit-flex:$k;
	-moz-flex:$k;
}
.zmiti-workorder-main-ui{
	width:80%;
	margin:0 auto;
	height:100%;
		position:relative;
		z-index:1;
		@include displayflex(column);
	.zmiti-workorder-main-inner{

	}
	* {
	    box-sizing: border-box;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.zmiti-title{
		position:relative;
		.ivu-btn-default{
			position:absolute;
			right: 10px;
			bottom: 0px;
		}
	}
	.zmiti-workorder-choose{
		width: 100%;
		height: 100%;
		overflow: auto;
		margin-top: 10px;
		padding:0 10px;
		@include flex();
		&::-webkit-scrollbar {
		        width: 10px;
		        height: 1px;
		}
		&::-webkit-scrollbar-thumb {
	        border-radius: 10px;
	        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	        background: #535353;
	    }
		&::-webkit-scrollbar-track {
	        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	        border-radius: 10px;
	        background: #EDEDED;
		}
	}
	.zmiti-workorder-list{
		ul{
			li{
				border-bottom:1px dashed #cccccc;
				padding:15px 0 12px 0;
				.items{
					@include displayflex();
					color: #333333;
					.item-title{
						width:80px;
						color:#999999;
						text-align: right;
					}
					.item-content{
						@include flex();
						color: #333333;
						line-height: 1.576;
					}
				}
			}
		}
	}
			
		.zmiti-workorder-header-bar{
			text-indent: 1em;
			font-size:14px;
			@include pos(r);
			height: 40px;
			border:1px solid #f5f6fa;
			background:#f5f6fa;
			line-height: 40px;
			&:before{
				content:'';
				left: 0;
				top:0;
				height: 100%;
				width: 4px;
				background: #333;
				@include pos(a);
			}

		}
		input {
		    -webkit-writing-mode: horizontal-tb !important;
		    text-rendering: auto;
		    color: initial;
		    letter-spacing: normal;
		    word-spacing: normal;
		    text-transform: none;
		    text-indent: 0px;
		    text-shadow: none;
		    display: inline-block;
		    text-align: start;
		    -webkit-appearance: textfield;
		    background-color: white;
		    -webkit-rtl-ordering: logical;
		    cursor: text;
		    margin: 0em;
		    font: 400 13.3333px Arial;
		    padding: 1px 0px;
		    border-width: 2px;
		    border-style: inset;
		    border-color: initial;
		    border-image: initial;
		}
		input[type="radio" i] {
		    background-color: initial;
		    cursor: default;
		    -webkit-appearance: radio;
		    box-sizing: border-box;
		    margin: 3px 3px 0px 5px;
		    padding: initial;
		    border: initial;
		}
		.ivu-form{
			margin:10px 0;
		}
		button, input {
		    overflow: visible;
		}
		.ivu-form .ivu-form-item-label {
		    text-align: right;
		    vertical-align: middle;
		    float: left;
		    font-size: 12px;
		    color: #515a6e;
		    line-height: 1;
		    padding: 10px 12px 10px 0;
		    box-sizing: border-box;
		    width:100px;
		}
		.ivu-form-item {
		    margin-bottom: 24px;
		    vertical-align: top;
		    zoom: 1;
		}
		.ivu-form-item:before, .ivu-form-item:after {
		    content: "";
		    display: table;
		}
		.ivu-form-item:after {
		    clear: both;
		    visibility: hidden;
		    font-size: 0;
		    height: 0;
		}
		.ivu-input {
		    display: inline-block;
		    width: 100%;
		    height: 32px;
		    line-height: 1.5;
		    padding: 4px 7px;
		    font-size: 12px;
		    border: 1px solid #dcdee2;
		    border-radius: 4px;
		    color: #515a6e;
		    background-color: #fff;
		    background-image: none;
		    position: relative;
		    cursor: text;
		    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		}
		textarea{
			resize: none;
			&.ivu-input {
			    max-width: 100%;
			    height: auto;
			    min-height: 32px;
			    vertical-align: bottom;
			    font-size: 14px;
			}
		}
		.ivu-form-item-error .ivu-input {
		    border: 1px solid #ed4014;
		}
		.ivu-form-item-content {
		    position: relative;
		    line-height: 32px;
		    font-size: 12px;
		    margin-left: 100px;
		    color: #515a6e;
		}
		.ivu-radio-wrapper {
		    font-size: 12px;
		    vertical-align: middle;
		    display: inline-block;
		    position: relative;
		    white-space: nowrap;
		    margin-right: 8px;
		    cursor: pointer;
		}
		.ivu-radio {
		    display: inline-block;
		    margin-right: 4px;
		    white-space: nowrap;
		    position: relative;
		    line-height: 1;
		    vertical-align: middle;
		    cursor: pointer;
		}
		.ivu-radio-inner {
		    display: inline-block;
		    width: 14px;
		    height: 14px;
		    position: relative;
		    top: 0;
		    left: 0;
		    background-color: #fff;
		    border: 1px solid #dcdee2;
		    border-radius: 50%;
		    transition: all 0.2s ease-in-out;
		}
		.ivu-radio-checked .ivu-radio-inner:after {
		    opacity: 1;
		    transform: scale(1);
		    transition: all 0.2s ease-in-out;
		}
		.ivu-radio-checked .ivu-radio-inner {
		    border-color: #00c1de;
		}
		.ivu-radio-input {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: 1;
		    opacity: 0;
		    cursor: pointer;
		}
		.ivu-radio-inner:after {
		    border-radius: 4px !important;
		}
		.ivu-radio-inner:after {
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    left: 2px;
		    top: 2px;
		    border-radius: 1px;
		    display: table;
		    border-top: 0;
		    border-left: 0;
		    content: ' ';
		    background-color: #00c1de;
		    opacity: 0;
		    transition: all 0.2s ease-in-out;
		    transform: scale(0);
		}
		.ivu-radio-checked .ivu-radio-inner:after {
		    opacity: 1;
		    transform: scale(1);
		    transition: all 0.2s ease-in-out;
		}
		.ivu-btn {
		    display: inline-block;
		    margin-bottom: 0;
		    font-weight: normal;
		    text-align: center;
		    vertical-align: middle;
		    touch-action: manipulation;
		    cursor: pointer;
		    background-image: none;
		    border: 1px solid transparent;
		    white-space: nowrap;
		    line-height: 1.5;
		    user-select: none;
		    padding: 5px 15px 6px;
		    font-size: 12px;
		    border-radius: 4px;
		    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
		    color: #515a6e;
		    background-color: #fff;
		    border-color: #dcdee2;
		}
		.ivu-btn, .ivu-btn:active, .ivu-btn:focus {
		    outline: 0;
		}
		button, html [type="button"], [type="reset"], [type="submit"] {
		    -webkit-appearance: button;
		}
		.ivu-btn-primary {
		    color: #fff;
		    background-color: #00c1de;
		    border-color: #00c1de;
		}
		.ivu-form-item-error-tip {
		    line-height: 1;
		    padding-top: 6px;
		    color: #f30;
		    font-size:12px;
		}
		.zmiti-back{top:16.5px;}
		.zmiti-changyue-main-ui .zmiti-dialog-close{z-index:99;}
}