/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
h2, h3 {
  font-weight: normal;
  font-size: 20px;
}

h2.zmiti-title {
  text-align: center;
  color: #3390ff;
}

.zmiti-back {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(51, 144, 255, 0.1);
  border-radius: 50%;
  margin: 10px 0;
  z-index: 1;
  cursor: pointer;
}

.zmiti-back::before {
  content: '';
  width: 86%;
  height: 86%;
  left: 7%;
  top: 7%;
  background: #3390ff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.zmiti-back:after {
  cursor: pointer;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  left: 44%;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  margin: -7px 0 -7px;
  border-right: 0;
  border-top: 0;
}
