@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
h2, h3 {
  font-weight: normal;
  font-size: 20px;
}

h2.zmiti-title {
  text-align: center;
  color: #3390ff;
}

.zmiti-title {
  height: 100px;
  line-height: 8;
  font-weight: bold;
}

.zmiti-back {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(51, 144, 255, 0.1);
  border-radius: 50%;
  margin: 10px 0;
  z-index: 1;
  cursor: pointer;
}

.zmiti-back::before {
  content: '';
  width: 86%;
  height: 86%;
  left: 7%;
  top: 7%;
  background: #3390ff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.zmiti-back:after {
  cursor: pointer;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  left: 44%;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  margin: -7px 0 -7px;
  border-right: 0;
  border-top: 0;
}

.zmiti-back a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.zmiti-menu-item {
  width: 80%;
  margin: 30px auto;
  height: 60px;
  line-height: 60px;
  background: #fff;
  text-indent: 2em;
  position: relative;
}

.zmiti-menu-item:before {
  content: '';
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  background: #3390ff;
  position: absolute;
}

.zmiti-menu-item ul {
  width: 100%;
  background: #e6edf7;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
  position: absolute;
}

.zmiti-menu-item ul.active {
  height: auto;
}

.zmiti-menu-item ul li {
  cursor: pointer;
  position: relative;
  border: 1px solid #d9e2ee;
  border-top: none;
}

.zmiti-menu-item ul li:nth-of-type(1) {
  border-top: 1px solid #d9e2ee;
}

.zmiti-menu-item ul li:nth-of-type(1):before {
  content: '';
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  background: #e6edf7;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
  left: 80%;
  top: -10px;
}

.zmiti-menu-item ul li:hover {
  background: #ddd;
}

.zmiti-menu-item ul li:nth-of-type(1):hover:before {
  background: #ddd;
}

.zmiti-menu-name {
  color: #ccc;
  cursor: pointer;
}

.zmiti-menu-name.active {
  color: #333;
}

.zmiti-menu-name.slider label.label {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.zmiti-menu-name label {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: #3390ff;
}

.zmiti-menu-name label:nth-of-type(2) {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  right: 30px;
  top: 15px;
  background: rgba(51, 144, 255, 0.1);
  left: auto;
}

.zmiti-menu-name label:nth-of-type(2)::before {
  content: "";
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 24%;
  height: 24%;
  border: 2px solid #3390ff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
  top: 37%;
  left: 30%;
}

.zmiti-scroll {
  overflow: auto;
  width: 100%;
}

.zmiti-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}

.zmiti-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.zmiti-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

#changyue-app1 {
  z-index: 1023;
  opacity: 1;
}

#changyue-app1.hide {
  opacity: 0;
}

.zmiti-check-sensitive-words-C {
  width: 600px;
  height: 400px;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 124;
  margin: -200px 0 0 -300px;
}

.zmiti-check-sensitive-words-C .zmiti-check-result-header {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #4784be;
  position: relative;
  text-indent: 1em;
  cursor: move;
}

.zmiti-check-sensitive-words-C .zmiti-check-result-header .zmiti-check-close {
  position: absolute;
  right: 0;
  font-size: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.zmiti-check-sensitive-words-C .zmiti-check-result-content {
  flex: 1;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.zmiti-check-sensitive-words-C .zmiti-check-result-content img {
  width: 100%;
  height: auto;
}

.zmiti-check-sensitive-words-C footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #ccc;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.zmiti-check-sensitive-words-C footer div {
  background: #4784be;
  width: 100px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin: 0 10px;
}
